rules_version = '2';
service cloud.firestore {
  match /databases/{database}/documents {
    match /obras/{obraId} {
      allow read, write: if true;
    }
    match /rdos/{rdoId} {
      allow read, write: if true;
    }
    match /colaboradores/{colaboradorId} {
      allow read, write: if true;
    }
    match /equipamentos/{equipamentoId} {
      allow read, write: if true;
    }
    match /usuarios/{usuarioId} {
      allow read, write: if true;
    }
    match /{document=**} {
      allow read, write: if true;
    }
  }
}
